body{
    display: grid;
    grid-template-areas:
    "d a a"
    "d c r"
    "d p p";
    grid-template-columns:200px auto 100px;
    grid-auto-rows: 50px auto 75px;
}
body>header{
    grid-area: a;
}

body>section{
    grid-area: d;
}
body>main{
    grid-area: c;
}

body>footer{
    grid-area: p;
}
body .rek_lama{
    grid-area: r;
    background-color: white;
    color: darkred;
}
div#grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 5px;
}